// Navigation Styles here

nav {
    width: 300px;
    margin-top: 10px;
    a {
        padding: 10px;
        font-size: 1.25rem;
        text-decoration: none;
        color: black;
        
    }
}